# Vercel
.vercel/
.vercel

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.DS_Store

# Logs
logs/
*.log

# documents 
docs